name: flutterfx_blur_fade_example
description: Demonstrates how to use the flutterfx_blur_fade package.
publish_to: 'none'

version: 1.0.0

environment:
  sdk: ^3.5.0

dependencies:
  flutter:
    sdk: flutter
  flutterfx_blur_fade:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
